################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

bin/
*.suo
*.user
_ReSharper.*
bin
obj
packages
App_Data